services:
  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ~/.m2:/root/.m2
    container_name: dev_spring_boot_app
    ports:
      - '8081:8080'
    restart: unless-stopped
    networks:
      - dev_network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  dev_network:
    driver: bridge
