version: '3.8'

services:
  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ~/.m2:/root/.m2
    container_name: dev_spring_boot_app
    ports:
      - '8081:8080'
    restart: unless-stopped
    networks:
      - dev_network

networks:
  dev_network:
    driver: bridge
